In [21]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
import warnings

warnings.filterwarnings("ignore")

In [12]:
data = pd.read_csv('Wynajem20190215-19:20.csv',sep='#')

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9984 entries, 0 to 9983
Data columns (total 16 columns):
Stan                                      2050 non-null object
Cena za miesiąc                           0 non-null float64
Typ zabudowy                              7861 non-null object
Liczba pięter w budynku                   4931 non-null object
Piętro                                    9848 non-null object
Miasto                                    9984 non-null object
Materiał budynku                          2390 non-null object
Price                                     9984 non-null object
Powierzchnia w m2                         9983 non-null float64
Stan instalacji                           130 non-null object
Liczba pokoi                              9906 non-null object
Opłaty (czynsz administracyjny, media)    2670 non-null object
Czy mieszkanie ma łazienkę?               102 non-null object
Miejsce parkingowe                        541 non-null object
Dzielnica                                 9983 non-null object
Rok budowy                                7012 non-null float64
dtypes: float64(3), object(13)
memory usage: 1.2+ MB

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9984 entries, 0 to 9983
Data columns (total 16 columns):
Stan                                      2050 non-null object
Cena za miesiąc                           0 non-null float64
Typ zabudowy                              7861 non-null object
Liczba pięter w budynku                   4931 non-null object
Piętro                                    9848 non-null object
Miasto                                    9984 non-null object
Materiał budynku                          2390 non-null object
Price                                     9984 non-null object
Powierzchnia w m2                         9983 non-null float64
Stan instalacji                           130 non-null object
Liczba pokoi                              9906 non-null object
Opłaty (czynsz administracyjny, media)    2670 non-null object
Czy mieszkanie ma łazienkę?               102 non-null object
Miejsce parkingowe                        541 non-null object
Dzielnica                                 9983 non-null object
Rok budowy                                7012 non-null float64
dtypes: float64(3), object(13)
memory usage: 1.2+ MB

In [15]:
# usuwam kolune "cena za miesiąc" - powód brak danych
# usuwam kolumny Stn instalacji, Czy mieszkanie ma łazienkę oraz Miejsce parkingowe - za mała wypełnialność
data = data.drop(columns=['Cena za miesiąc','Stan instalacji','Czy mieszkanie ma łazienkę?','Miejsce parkingowe'])

In [16]:
data.describe()

       Powierzchnia w m2   Rok budowy
count        9983.000000  7012.000000
mean           62.654599  1995.474615
std            50.409857    31.260790
min             1.000000  1200.000000
25%            41.000000  1990.000000
50%            53.000000  2008.000000
75%            73.000000  2015.000000
max          3633.000000  2019.000000

In [17]:
data['Typ zabudowy'] = data['Typ zabudowy'].fillna('Nie podano') # zamieniam NaN na jedną wartość
ohe = OneHotEncoder(handle_unknown='ignore', categorical_features='all', sparse=False)
typ_zabudowy_ohe = ohe.fit_transform(data[data.columns[1]].values.reshape(-1,1))
typy_zabudowy = np.unique(data[data.columns[1]].values)
i=0
for typ_zabudowy in typy_zabudowy:
    data["typ"+typ_zabudowy] = typ_zabudowy_ohe[:,i]
    i=i+1

/home/ralph/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:380: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. The passed value of 'all' is the default and can simply be removed.
  DeprecationWarning)
/home/ralph/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:380: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. The passed value of 'all' is the default and can simply be removed.
  DeprecationWarning)

In [44]:
data = pd.read_csv('Wynajem20190215-19:20.csv',sep='#')
# usuwam kolune "cena za miesiąc" - powód brak danych
# usuwam kolumny Stn instalacji, Czy mieszkanie ma łazienkę oraz Miejsce parkingowe - za mała wypełnialność
data = data.drop(columns=['Cena za miesiąc','Stan instalacji','Czy mieszkanie ma łazienkę?','Miejsce parkingowe'])

def clean_data_table(data):
    #     Zmienna celu, Price - zamieniam na liczbe
    data_cleaned['Price'] = data_cleaned['Price'].apply(lambda x: int(x.replace(" ",""))).astype(int)  

    # Powierzchnia - 1 wiersz brakujacych danych - uzupełniam średnią
    data['Powierzchnia w m2'] = data['Powierzchnia w m2'].fillna(data['Powierzchnia w m2'].mean())
    
    # Stan - 2050 niepustych
    data['Stan'] = data['Stan'].fillna('Brak') # zamieniam NaN na jedną wartość
    state_enc = OneHotEncoder(handle_unknown='ignore', categorical_features='all', sparse=False)
    state_end_trans = state_enc.fit_transform(data[data.columns[0]].values.reshape(-1,1)) 
    states = np.unique(data[data.columns[0]].values)
    i=0
    for state in states:
        data["stan_"+state] = state_end_trans[:,i]
        i=i+1
        
    #Typ zabudowy - 7861 niepustych wierszy - zamieniam za pomocą OHE
    data['Typ zabudowy'] = data['Typ zabudowy'].fillna('Brak') # zamieniam NaN na jedną wartość
    ohe = OneHotEncoder(handle_unknown='ignore', categorical_features='all', sparse=False)
    typ_zabudowy_ohe = ohe.fit_transform(data[data.columns[1]].values.reshape(-1,1))
    typy_zabudowy = np.unique(data[data.columns[1]].values)
    i=0
    for typ_zabudowy in typy_zabudowy:
        data["typ_zab_"+typ_zabudowy] = typ_zabudowy_ohe[:,i]
        i=i+1
    data.drop(columns=['Typ zabudowy'])
    return data

In [47]:
data_cleaned = clean_data_table(data)

In [49]:
# średnia ze wszystkich
data_cleaned['Price'].mean()

2684.608974358974